#!/bin/bash

# ~/.aliases - Some sweet shortcuts...

#######################################################
# Directory Browsing
#######################################################

# Fast navigation...
alias ..="cd  .."


#######################################################
# Networking
#######################################################

# fetch remote ip
alias remote_ip="dig +short myip.opendns.com @resolver1.opendns.com"

