#!/bin/bash

# ~/.aliases - Some sweet shortcuts...

#######################################################
# Directory Browsing
#######################################################

# Fast navigation...
alias ..="cd  .."

# List current directories @TODO: pass arguments?
alias dir="ls -lah | grep '^d'"


#######################################################
# Networking
#######################################################

# fetch remote ip
alias remoteip="dig +short myip.opendns.com @resolver1.opendns.com"


#######################################################
# Applications
#######################################################

# Launch iOS Simulator
alias ios="open -a /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Applications/iPhone\ Simulator.app"


#######################################################
# OSX
#######################################################

# Show/Hide the desktop... always useful
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"

# Remove data in Trash
alias trashrm="sudo rm -rfv ~/.Trash"
