#!/bin/bash

# ~/.aliases - Some sweet shortcuts...

#######################################################
# Directory Browsing
#######################################################

# Fast navigation...
alias ..="cd  .."

# List current directories @TODO: pass arguments?
alias dir="ls -lah | grep '^d'"

# Safe-ish RM
alias rm="rm -ri"

# Nice list
alias ll="ls -lah"

# Sites directory
alias sites="cd ~/Sites"

# Projects directory
alias projects="cd ~/Projects"


#######################################################
# Git SCM
#######################################################

# really pisses me off
alias gti='git '

#######################################################
# Networking
#######################################################

# IP Addresses
alias localip="ipconfig getifaddr en0"
alias remoteip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# flush dns cache
alias flushdns="dscacheutil -flushcache"

# One of @janmoesen’s ProTip™s
# Perform basic UA requests from terminal
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="lwp-request -m '$method'"
done

#######################################################
# Applications
#######################################################

# Launch iOS Simulator - CBA to download Xcode
#alias ios="open -a /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Applications/iPhone\ Simulator.app"

# Vagrant
alias vag="vagrant"

# Homebrew Cask
alias cask="brew cask"

#######################################################
# OSX
#######################################################

# Show/Hide the desktop... always useful
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"

# Remove data in Trash
alias trashrm="sudo rm -rfv ~/.Trash"

#######################################################
# Util
#######################################################

# Edit popular config files
alias hosts="sudo $EDITOR /etc/hosts"
alias sshconfig="sudo $EDITOR ~/.ssh/config"
