# ~/.exports - create some variables....

# Define default editor
export EDITOR="subl -w"

# Pretty Coloursdisct
export LS_OPTIONS='--color=auto'
export CLICOLOR='Yes'
export LSCOLORS=gxfxbEaEBxxEhEhBaDaCaD

# Don't clear screen when exiting a man page
export MANPAGER="less -X"

# Colour in those GREPS
export GREP_OPTIONS="--color=auto"
