#!/bin/bash

# ~/.function - Some sweet functions...

#######################################################
# Dynamic Servers
#######################################################

# Webserver
function webserver() {

	# Random port number..
	# @TODO: Check for port in use...
	local port=$(jot -r 1 8080 8090)

	sleep 1 && open "http://localhost:${port}/" &

	python -m SimpleHTTPServer $port
}

# Add Space to dock
function dock-space() {

	defaults write com.apple.dock persistent-apps -array-add '{tile-data={}; tile-type="spacer-tile";}'
	killall Dock
}

# Remove bastard .DS_Store files recursively from the current directory
function rm-dsstore() {
	find . -name ".DS_Store" -depth -exec rm -vf {} \;
}

# List fucking .DS_Store files recursively from the current directory
function ls-dsstore() {
	find . -name ".DS_Store" -depth
}

# Enable Xdebug extension for php-cli scripts
function xdebug-listen() {
	export XDEBUG_CONFIG="idekey=PHPSTORM"
}

# Disable Xdebug extension for php-cli scripts
function xdebug-stoplistening()
{
	unset XDEBUG_CONFIG
}