#!/bin/bash

# ~/.function - Some sweet functions...

#######################################################
# Dynamic Servers
#######################################################

# Webserver
function webserver() {

	# Random port number..
	# @TODO: Check for port in use...
	local port=$(jot -r 1 8080 8090)

	sleep 1 && open "http://localhost:${port}/" &

	python -m SimpleHTTPServer $port
}

# Restarting
function apache() {

	if [ "$#" -eq 0 ]
	then
		echo >&2 "Please specify a command"
		return
	fi

	local action=$1
	local apache_path="/usr/sbin/apachectl"
	local apache_cmd="sudo ${apache_path}"

	# config test
	$apache_cmd -t

	if [ $action = "restart" ]
	then
		echo >&2 "Restarting Apache"
		$apache_cmd restart

		return
	else
		echo >&2 "Unknown action"

		return
	fi

	return
}

# Switch OSX Liip PHP Version
function switchphp() {

	# Make sure a path to php was sent
	if [ "$#" -eq 0 ]
	then
		echo >&2 "Please specify a path to PHP"
		return
	fi

	local new_php_version=$1
	local php_path="/usr/local/php5"

	# Make sure input is a directory
	if [ ! -d $new_php_version ]
	then
		echo >&2 "Please specify a valid path to PHP"
		return
	fi

	if [ -L $php_path ]
	then
		sudo rm -rf $php_path
	fi

	# Register new php version
	ln -s $new_php_version $php_path

	/usr/local/php5/bin/php -v

	return
}

# Add Space to dock
function dock-space() {

	defaults write com.apple.dock persistent-apps -array-add '{tile-data={}; tile-type="spacer-tile";}'
	killall Dock
}

# Remove bastard .DS_Store files recursively from the current directory
function rm-dsstore() {
	find . -name ".DS_Store" -depth -exec rm -vf {} \;
}

# List fucking .DS_Store files recursively from the current directory
function ls-dsstore() {
	find . -name ".DS_Store" -depth
}

# Display broken symlinks
function symlinks-broken() {
	find . -type l -exec test ! -e {} \; -print
}

# Remove broken symlinks
function symlinks-broken-rm() {
	find . -type l -exec test ! -e {} \; -delete
}

# Enable Xdebug extension for php-cli scripts
function xdebug-listen() {
	export XDEBUG_CONFIG="idekey=PHPSTORM"
}

# Disable Xdebug extension for php-cli scripts
function xdebug-stoplistening()
{
	unset XDEBUG_CONFIG
}